body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login {
  color: blue;
  text-align: center;
  text-decoration: blue;
  bottom: 100px;
}
.champ {
  justify-content: center;
  display: flex;
  padding-top: 30px;
  margin-top: 30px;
}
.chek {
  left: 480px;
  bottom: 120px;
}
.btnconnexion {
  display: flex;
  justify-content: center;
  left: 350px;
}
.btnc {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.c1 {
  margin-left: 680px;
  bottom: 120px;
}
.icon {
  display: flex;
  justify-content: center;
}
.iconlogo {
  display: flex;
  justify-content: center;
}
.FM {
  display: flex;
  justify-content: flex-end;
}
.titreFD {
  color: blue;
  margin-left: 50px;
  bottom: 50xp;
}
.enregister {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
